<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Github User Search</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav float-end">
          <a class="nav-link navlink-1 " routerLink="">Home</a>
          <a class="nav-link navlink-2" routerLink="User">Search Users</a>
          <a class="nav-link navlink-3" routerLink="Repo">Search Repos</a>
        </div>
      </div>
    </div>
</nav> 



<!-- <h2 class="container bg-primary mt-3 p-3 text-light">Github Name Search</h2>
<app-user></app-user> -->
<router-outlet></router-outlet>