.navlink-1{
    background-color: grey;
    border-radius: 10px;
    color: white;
    margin: 5px;
   
}
.navlink-1:hover{
    padding: 4px;
    background-color: black;
}

.navlink-2{
    background-color: grey;
    border-radius: 10px;
    color: white;
    margin: 5px;
}
.navlink-2:hover{
    padding: 4px;
    background-color: black;
}

.navlink-3{
    background-color: grey;
    border-radius: 10px;
    color: white;
    margin: 5px;
}
.navlink-3:hover{
    padding: 4px;
    background-color: black;
}
