.navlink-1{
   
    border-radius: 5px;
    color: white;
    margin: 5px;
   
}
.navlink-1:hover{
    padding: 4px;
    background-color: black;
}
.navlink-2{
   
    border-radius: 5px;
    color: white;
    margin: 5px;
   
}
.navlink-2:hover{
    padding: 4px;
    background-color: black;
}

.navlink-3{
   
    border-radius: 5px;
    color: white;
    margin: 5px;
   
}
.navlink-3:hover{
    padding: 4px;
    background-color: black;
}
