<app-search (searchEmitter)= getUser($event)></app-search>

<div *ngFor='let profile of myProfile' class="container mt-4 row">
    <div class="col-7 ms-5 ps-5">
        <p class="lead">
            Enter your Github username to search for your github details
        </p>
        <img src="https://miro.medium.com/max/1400/1*JLYlSLSK8-AZo8gt9UdYqA.jpeg" alt="" height="300px" width="400px"/>
        <p class="lead pt-5">Enjoy fast way of searching github details</p>
    </div>
    <div class="col-4">
        <h2 class="text-decoration-underline pb-2">Github Details</h2>
        <h4><span class="fs-3 p-2">GithubName :</span>{{profile.login}}</h4>
        <img src="{{profile.avatar_url}}" alt="">
        <h4><span class="fs-6 mt-0">Followers :</span>{{profile.followers}}
            <span class="fs-6 mt-0">Following :</span>{{profile.following}}
        </h4>
    </div>
    
</div>
