<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <h4>Github User Search</h4>
            <form class="row">
                <div class="col mt-1">
                    <input name="username" type="search" class="form-control col-9" placeholder="github username">    
                </div>
                <div class="col">
                    <input type="submit" value="Search" class="btn btn-primary btn-sm mt-2  col-3">
                </div>
            </form>
        
        </div>

        <div class="col-3">sshhs</div>

    </div>
</div>    
