<div class="container row">
    <h1 class="text-center pt-3">Welcome to Github user details Search</h1>
        <p class="lead text-center">This app assist in showing github details</p>
    <div class="col-6">
        
        <p class="pt-3">Search for:</p>
        <ul>
            <li>Username</li>
            <li>Repositories</li>   
        </ul>
    </div>
    <div class="col-6">
        <img src="https://www.space4water.org/s4w/web/sites/default/files/images/software/logos/2020-07/Ei-sc-github.svg_.png" alt="" height="500px">
    </div>
    
</div>
